
<!-- 
<div fxLayout="row wrap">
    <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]"> {{item}}. One</div>
    <div fxLayoutGap="16px grid">
        <div>Section 1</div>
        <div>Section 2</div>
        <div>Section 3</div>
      </div>
</div>

<div fxLayout="column">
    <div>1. One</div>
    <div>2. Two</div>
    <div>3. Three</div>
    <div>4. Four</div>
   
</div> -->

<!-- <div 
  gdAreas="header header | side content | footer footer"
  gdGap="16px"
  gdRows="auto auto auto">
  <div gdArea="header">
    Header
   </div>
  <div gdArea="side">
    Side
   </div>
  <div gdArea="content">
    Content
  </div>
  <div gdArea="footer">
    Footer
  </div>
</div> -->

<div fxLayout="row" fxFlex="auto" >
  <!-- <div fxFlex="1 1 20%">1 1 20%</div>
  <div fxFlex="1 1 auto">1 1 auto</div>
  <div fxFlex="2 1 auto">2 1 auto</div> -->


  <div fxFlex="8 1 auto">8 1 auto</div>
  <div fxFlex="1 0 auto">1 0 auto</div>
  <div fxFlex="1 0 auto">1 0 auto</div>



</div>
<!-- 
<hr/><br>

<div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="32px" 
  fxLayoutAlign="flex-start">


	<ng-container *ngFor="let _ of [1,2,3,4,5,6]">

		<app-card 
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    ></app-card>

	</ng-container>
</div> -->

